/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 5px;
  top: 5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $violet3;
  border-radius: 10px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $violet2;
  padding-top: 40px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  h2 {
    font-family: $font-family-title;
    margin-left: 23px;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.006em;
    color: #fff;
  }
}

/* Individual item */
a.bm-item {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  margin-left: 60px;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
