/* ******************************************************
   Main Sections Events App
   ****************************************************** */

.eventsapp {
  background-color: $color-secondary;
  float: left;
  width: 100%;

  &.green {
    background-color: $color-third;
  }
}

/* ******************************************************
   Header
   ****************************************************** */

.header-events {
  position: relative;
  top: -130px;
  text-align: center;

  h1 {
    margin: 0 auto 20px auto;
    font-family: $font-family-title;
    color: $violet2;
    font-style: normal;
    font-weight: $fontWeight-medium;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.01em;
    max-width: 476px;
  }

  .date-city-container {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;

    div {
      margin: 0 5px;
      background: $grayscale0;
      color: $grayscale6;
      font-size: 16px;
      line-height: 24px;
      padding: 4px 6px;
      border-radius: 8px;
    }

    .date {
      text-transform: uppercase;
    }
  }

  .logo-event {
    width: 220px;
    margin: 0 auto 19px auto;
    padding: 10px;
    border-radius: 50%;
    background: white;

    img {
      filter: drop-shadow(0px 6px 16px $violet2);
      width: 200px;
      height: 200px;
    }
  }

  &.wallet {
    h1 {
      margin: 0 0 15px 0;
    }

    .logo-event {
      width: 160px;
      height: 160px;
    }
  }

  &.token-page {
    padding-top: 0;
  }
}

.scan-cover {
  height: 179px;
}

.scan-logo {
  width: 63px;
  margin: 0 auto;
  padding-bottom: 25px;
}

/* ******************************************************
   Footer
   ****************************************************** */

footer {
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 295px;

  .cover {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 295px;
  }

  .footer-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .footer-logo {
      width: 68px;
      margin: 0 auto;
      padding-bottom: 24px;
      padding-top: 31px;
    }

    .footer-text {
      color: $color-primary;
      font-family: $font-family-title;
    }

    .footer-communities {
      flex-direction: row;
      margin: 0 auto;

      a {
        padding: 0 8px;
      }
    }
  }
}

/* ******************************************************
   Main
   ****************************************************** */

.main-events {
  margin: -100px 0 0;

  .main-content {
    .content-event {
      max-width: 6600px;
      margin: 0 auto;
      text-align: center;

      h2 {
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $grayscale4;
        margin: 0 0 5px;
      }

      .wallet-number {
        padding-bottom: 60px;

        a {
          color: $violet2;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
        }

        &.ens {
          @include x-rem(font-size, 22px);
        }

        @media (min-width: $bp-m) {
          @include x-rem(font-size, 19px);

          &.ens {
            @include x-rem(font-size, 24px);
          }
        }
      }

      .communities-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;

        a {
          font-size: 0;
          margin: 0 8px;

          &:hover {
            background-color: $violet4;
          }

          width: 32px;
          aspect-ratio: 1;
          background-color: $violet2;
          background-size: contain;
          transition: background-color 0.2s ease-in-out;

          &.twitter {
            mask: url("../images/twitter.svg");
            mask-size: 32px;
          }

          &.telegram {
            mask: url("../images/telegram.svg");
            mask-size: 32px;
          }

          &.reddit {
            mask: url("../images/reddit.svg");
            mask-size: 32px;
          }
        }
      }

      .error {
        color: $color-error;
        max-width: 400px;
        margin: 0 auto;
        @include x-rem(font-size, 20px);
        text-align: center;
      }
    }
  }

  &.green {
    .main-content {
      background-color: $color-third;
      padding: 70px 0 0;

      @media (min-width: $bp-mw) {
        padding: 0 0 0;
      }
    }
  }
}

/* ******************************************************
   Effects
   ****************************************************** */

.highlight-effect {
  position: relative;
  z-index: 1;
}

.highlight-effect::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.05em;
  right: -0.05em;
  background-color: #fe2d4d;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.highlight-effect:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}

/* ******************************************************
  Code Claim Page
  ****************************************************** */
.code-claim-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 360px;
  min-height: 100vh;

  .claim-header {
    .claim-cover {
      position: absolute;
      z-index: 0;
      width: 100%;
    }

    &.template {
      background: none;
      position: relative;

      .side-banner {
        z-index: 2;
      }

      .right-image {
        position: absolute;
        z-index: 2;

        border-radius: 4px;

        display: none;

        top: 100px;
        right: 40px;

        height: 400px;
        width: 240px;

        @media (min-width: 1200px) {
          display: inline;
          right: 50px;
        }

        @media (min-width: 1440px) {
          right: 150px;
        }

        @media (min-width: 1700px) {
          right: 250px;
        }
      }

      .left-image {
        position: absolute;
        z-index: 2;

        border-radius: 4px;

        display: none;

        top: 100px;
        left: 40px;

        height: 400px;
        width: 240px;

        @media (min-width: 1200px) {
          display: inline;
          left: 50px;
        }

        @media (min-width: 1440px) {
          left: 150px;
        }

        @media (min-width: 1700px) {
          left: 250px;
        }
      }
    }

    .claim-title-logo-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 56px;

      .claim-title {
        font-style: normal;
        font-weight: $fontWeight-medium;
        font-size: 28px;
        line-height: 40px;
        font-family: $font-family-title;
        color: $violet2;
        letter-spacing: 0.006em;
        width: fit-content;
        max-width: 426px;
        text-align: center;
      }

      .logo-event {
        position: relative;
        z-index: 1;
        width: 220px;
        height: 220px;
        margin: 0 auto 19px auto;
        padding: 10px;
        border-radius: 50%;
        background: white !important;

        img.logo-img {
          position: absolute;
          z-index: 2;
          filter: drop-shadow(0px 6px 16px $violet2);
          width: 200px;
          height: 200px;
        }

        .check {
          position: absolute;
          right: 14px;
          bottom: 20px;
          z-index: 3;
        }
      }
    }

    .template-title {
      font-style: normal;
      font-weight: $fontWeight-medium;
      font-size: 28px;
      line-height: 40px;
      font-family: $font-family-title;
      color: $violet2;
      letter-spacing: 0.006em;
      text-align: center;
    }
  }

  .claim-body {
    .mobile-image {
      text-align: center;
      @media (min-width: $bp-m) {
        padding: 0 4rem;
      }

      @media (min-width: 1200px) {
        display: none;
      }

      img {
        height: 100px;
        width: 320px;

        border-radius: 4px;

        margin-top: 40px;
      }
    }

    &.template {
      padding-bottom: 24px;
    }

    .claim-form {
      text-align: center;

      input {
        font-size: 16px;
        text-align: center;
        border: 1px solid $color-primary;
        max-width: 500px;
      }

      .web3-browser {
        font-size: 16px;
        padding: 25px 0;
        font-family: $font-family-narrow;
        color: $color-medium-violet;

        span,
        a {
          text-decoration: underline;
          cursor: pointer;
          font-family: inherit;
          color: inherit;
        }
      }

      .layer-checkbox {
        cursor: pointer;
        user-select: none;

        svg {
          position: relative;
          top: 2px;
        }
      }
    }

    .claim-info {
      text-align: center;
      margin: auto;

      .claim-preloader {
        padding: 50px 0;
        text-align: center;

        img {
          width: 50px;
        }
      }

      .info-title {
        font-family: $font-family-title;
        font-weight: bold;
        color: $color-primary;
        font-size: 26px;
        line-height: 30px;
        min-width: 300px;
        margin: 30px auto;
      }

      .text-info {
        color: $color-medium-violet;
        font-size: 16px;
        line-height: 20px;
        min-width: 300px;
        margin: 40px auto;
      }

      a.link-btn {
        margin-top: 50px;
        background: $color-fourth;
        width: 300px;
        min-width: 300px;
      }

      &.claim-delegated {
        .text-info {
          max-width: inherit;

          p {
            margin: 0 auto 0.5rem;
            max-width: inherit;
          }
        }
      }
    }
  }
}

.tx-message {
  text-align: center;
}

.tx-detail {
  padding: 40px 0 80px;
  max-width: 500px;
  margin: auto;

  .tx-detail-title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .tx-detail-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: $color-invert;

    &:hover {
      transform: scale(1.05);
    }

    .tx-detail-cell {
      text-align: center;
      padding: 5px;

      .tx-detail-cell-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 0.85rem;
        color: $color-grey;
        margin-bottom: 20px;
      }

      &:first-child {
        border-right: 1px solid rgb(226, 232, 240);
      }

      a {
        img {
          margin-left: 5px;
          width: 12px;
        }
      }
    }
  }
}

.info-tx {
  display: inline;
  border-radius: 4px;
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  line-height: 20px;
  position: relative;

  img {
    width: 25px;
    position: absolute;
    left: 5px;
    top: 15px;
  }

  &.info-pending {
    background: $color-light-grey;
    color: $color-medium-violet;
  }

  &.info-error {
    background: $tx-error-background;
    color: $tx-error-color;

    img {
      width: 12px;
      left: 13px;
      top: 13px;
    }
  }

  &.info-success {
    background: $tx-success-background;
    color: $tx-success-color;

    img {
      width: 12px;
      left: 13px;
      top: 13px;
    }
  }
}

.help-modal {
  text-align: center;

  p {
    max-width: inherit;
  }

  .close-modal {
    margin-top: 20px;
  }
}

.template-claim-footer {
  height: 250px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  margin-top: 50px;

  @media (min-width: $bp-m) {
    padding: 0 4rem;
  }

  @media (min-width: $bp-m-max) {
    padding: 0 7rem;
    margin-top: 100px;
  }

  .footer-icon-container {
    height: 191px;
  }

  .footer-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }

  .footer-content {
    height: 190px;

    .container {
      display: flex;
      min-width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .decoration {
        width: 75px;
      }

      .social-icons {
        display: flex;
        margin-top: 30px;

        a {
          height: 30px;
          width: 30px;

          &:not(:last-of-type) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.template-claim-header {
  height: 100px;

  padding: 0 2rem;

  @media (min-width: $bp-m) {
    padding: 0 4rem;
  }

  @media (min-width: $bp-m-max) {
    padding: 0 6rem;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  .title-container {
    flex: 1;

    @media (max-width: $bp-m) {
      text-align: center;
    }

    img {
      border-radius: 4px;
      height: 40px;
      @media (min-width: $bp-m-max) {
        height: 60px;
      }
    }
  }

  .header-link-container {
    a {
      font-size: 24px;
    }

    @media (max-width: $bp-m) {
      display: none;
    }
  }
}


/* ******************************************************
  Token Page
  ****************************************************** */
.migration-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 210px;

  div.divider {
    max-width: 600px;
    margin: 0 auto 25px auto;
    width: 100%;
    border-top: 1px solid $grayscale1;
  }

  p {
    width: 100%;
    max-width: 600px;
    color: $grayscale5;
    text-align: center;

    &.success {
      color: $color-primary;
      font-size: 24px;
    }
  }

  .tx-detail {
    width: 100%;

    .tx-detail-box {
      background: white;
    }
  }
}

